<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>Under2 Sig maker</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body class='container'>
    <h1>Lets make you a email sig</h1>

    <form action='cast' method='post'>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="email" class="form-control" id="name" aria-describedby="nameHelp" placeholder="Enter email">
        <small id="nameHelp" class="form-text text-muted">Put instructions here.</small>
      </div>
      <div class="form-group">
        <label for="title">Job Title</label>
        <input type="email" class="form-control" id="title" aria-describedby="jobTitleHelp" placeholder="Enter email">
        <small id="jobTitleHelp" class="form-text text-muted">Put instructions here.</small>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">Put instructions here.</small>
      </div>
      <div class="form-group">
        <label for="phone">Phone Number</label>
        <input type="email" class="form-control" id="phone" aria-describedby="phoneNumberHelp" placeholder="Enter email">
        <small id="phoneNumberHelp" class="form-text text-muted">Put instructions here.</small>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>


  </body>
</html>